default vesamenu.c32
prompt 1
timeout 150

label kickstart
menu label ^Install {{ .Distro }} {{ .Version }} {{ .Arch }} ( kickstart )
menu default
kernel {{ .Distro }}{{ .Version }}-{{ .Arch }}/vmlinuz
append initrd={{ .Distro }}{{ .Version }}-{{ .Arch }}/initrd.img inst.stage2={{ .Inst_repo_base }}releases/{{ .Version }}/{{ .Flavour }}/{{ .Arch }}/os/ ip=dhcp inst.ks={{ .Ks }}

label manual
menu label ^Install {{ .Distro }} {{ .Version }} {{ .Arch }} ( manual )
kernel {{ .Distro }}{{ .Version }}-{{ .Arch }}/vmlinuz
append initrd={{ .Distro }}{{ .Version }}-{{ .Arch }}/initrd.img inst.stage2={{ .Inst_repo_base }}releases/{{ .Version }}/{{ .Flavour }}/{{ .Arch }}/os/ ip=dhcp

label local
menu label Boot from ^local drive
localboot 0xffff
