function load_video {
	insmod efi_gop
	insmod efi_uga
	insmod video_bochs
	insmod video_cirrus
	insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
set default=0
set timeout=15

menuentry 'Install {{ .Distro }} {{ .Version }} {{ .Arch }} ( kickstart )'  --class fedora --class gnu-linux --class gnu --class os {
	linuxefi /{{ .Distro }}{{ .Version }}-{{ .Arch }}/vmlinuz ip=dhcp inst.repo={{ .Inst_repo_base }}releases/{{ .Version }}/{{ .Flavour }}/{{ .Arch }}/os/ inst.ks={{ .Ks }}
	initrdefi /{{ .Distro }}{{ .Version }}-{{ .Arch }}/initrd.img
}

menuentry 'Install {{ .Distro }} {{ .Version }} {{ .Arch }} ( manual )'  --class fedora --class gnu-linux --class gnu --class os {
	linuxefi /{{ .Distro }}{{ .Version }}-{{ .Arch }}/vmlinuz ip=dhcp inst.repo={{ .Inst_repo_base }}releases/{{ .Version }}/{{ .Flavour }}/{{ .Arch }}/os/
	initrdefi /{{ .Distro }}{{ .Version }}-{{ .Arch }}/initrd.img
}
