function load_video {
	insmod efi_gop
	insmod efi_uga
	insmod video_bochs
	insmod video_cirrus
	insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
set default=0
set timeout=15

menuentry 'Install {{ .distro }} {{ .version }} {{ .arch }} ( kickstart )'  --class fedora --class gnu-linux --class gnu --class os {
	linuxefi /{{ .distro }}{{ .version }}-{{ .arch }}/vmlinuz ip=dhcp inst.repo={{ .inst_repo_base }}releases/{{ .version }}/{{ .flavour }}/{{ .arch }}/os/ inst.ks={{ .ks }}
	initrdefi /{{ .distro }}{{ .version }}-{{ .arch }}/initrd.img
}

menuentry 'Install {{ .distro }} {{ .version }} {{ .arch }} ( manual )'  --class fedora --class gnu-linux --class gnu --class os {
	linuxefi /{{ .distro }}{{ .version }}-{{ .arch }}/vmlinuz ip=dhcp inst.repo={{ .inst_repo_base }}releases/{{ .version }}/{{ .flavour }}/{{ .arch }}/os/
	initrdefi /{{ .distro }}{{ .version }}-{{ .arch }}/initrd.img
}
