.idea/
.omv/
.ssh/
.vagrant/
old/
tmp/
*_stringer.go
mgmt
mgmt.static
mgmt.iml
rpmbuild/

# Build stuff
debian/*.debhelper.log
debian/*debhelper
debian/debhelper-build-stamp
debian/files
debian/mgmt.substvars
debian/mgmt/*
