[submodule "vendor/github.com/coreos/etcd"]
	path = vendor/go.etcd.io/etcd
	url = https://github.com/coreos/etcd/
[submodule "vendor/google.golang.org/grpc"]
	path = vendor/google.golang.org/grpc
	url = https://github.com/grpc/grpc-go
[submodule "vendor/github.com/grpc-ecosystem/grpc-gateway"]
	path = vendor/github.com/grpc-ecosystem/grpc-gateway
	url = https://github.com/grpc-ecosystem/grpc-gateway
[submodule "vendor/gopkg.in/fsnotify.v1"]
	path = vendor/gopkg.in/fsnotify.v1
	url = https://gopkg.in/fsnotify.v1
[submodule "vendor/github.com/purpleidea/go-systemd"]
	path = vendor/github.com/purpleidea/go-systemd
	url = https://github.com/purpleidea/go-systemd
[submodule "vendor/honnef.co/go/augeas"]
	path = vendor/honnef.co/go/augeas
	url = https://github.com/dominikh/go-augeas/
[submodule "vendor/github.com/grpc-ecosystem/go-grpc-prometheus"]
	path = vendor/github.com/grpc-ecosystem/go-grpc-prometheus
	url = https://github.com/grpc-ecosystem/go-grpc-prometheus
[submodule "vendor/github.com/ugorji/go"]
	path = vendor/github.com/ugorji/go
	url = https://github.com/ugorji/go
[submodule "vendor/github.com/purpleidea/docker"]
	path = vendor/github.com/docker/docker
	url = https://github.com/purpleidea/docker
[submodule "vendor/github.com/purpleidea/distribution"]
	path = vendor/github.com/docker/distribution
	url = https://github.com/purpleidea/distribution
[submodule "vendor/github.com/hashicorp/go-multierror"]
	path = vendor/github.com/hashicorp/go-multierror
	url = https://github.com/hashicorp/go-multierror
[submodule "vendor/github.com/containerd/containerd"]
	path = vendor/github.com/containerd/containerd
	url = https://github.com/purpleidea/containerd
[submodule "vendor/github.com/hashicorp/consul"]
	path = vendor/github.com/hashicorp/consul
	url = https://github.com/hashicorp/consul/
