[submodule "vendor/github.com/coreos/etcd"]
	path = vendor/github.com/coreos/etcd
	url = https://github.com/coreos/etcd/
[submodule "vendor/google.golang.org/grpc"]
	path = vendor/google.golang.org/grpc
	url = https://github.com/grpc/grpc-go
[submodule "vendor/github.com/grpc-ecosystem/grpc-gateway"]
	path = vendor/github.com/grpc-ecosystem/grpc-gateway
	url = https://github.com/grpc-ecosystem/grpc-gateway
