{{/*
TODO: A lot of this could be templated, if we knew what it did.
*/ -}}
{{ if .Default -}}
<DefaultPrinter {{ .Name }}>
{{ else -}}
<Printer {{ .Name }}>
{{ end -}}
PrinterId {{ .Id }}
UUID urn:uuid:{{ .Uuid }}
{{ if .Info -}}
Info {{ .Info }}
{{ end -}}
{{ if .Location -}}
Location {{ .Location }}
{{ end -}}
MakeModel {{ .Makemodel }}
DeviceURI {{ .Uri }}
State Idle
StateTime 1735329279
ConfigTime 1734305561
Type {{ .Typeint }}
Accepting Yes
Shared Yes
JobSheets none none
QuotaPeriod 0
PageLimit 0
KLimit 0
OpPolicy default
ErrorPolicy abort-job
Option print-color-mode monochrome
{{ if .Default -}}
</DefaultPrinter>
{{ else -}}
</Printer>
{{ end -}}
