Source: mgmt
Maintainer: Johan Bloemberg (aequitas) <mgmt@ijohan.nl>
Build-Depends:
               debhelper,
               devscripts,
               dh-golang,
               dh-systemd,
               golang-go,

Package: mgmt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, packagekit
Suggests:      graphviz
Description: mgmt: next generation config management!
 The mgmt tool is a next generation config management solution. It's
 ready for production, and we hope you try out the future soon. Get
 involved today!
