/etc/systemd/system/prometheus-postgres-exporter@.service
[Unit]
Description=Prometheus exporter for PostgreSQL on port %i
Documentation=https://github.com/prometheus-community/postgres_exporter

[Service]
User=prometheus
EnvironmentFile=/etc/default/prometheus-postgres-exporter-%i
ExecStart=/usr/bin/prometheus-postgres-exporter $ARGS
Restart=on-failure

[Install]
WantedBy=multi-user.target
