{{/*
###################################################################################################################################################
#ACTION			SOURCE			DEST		PROTO	DPORT	SPORT	IPSEC	MARK	USER	SWITCH	ORIGDEST	PROBABILITY
*/ -}}
{{ if .comment -}}
#
#	{{ .comment }}
#
{{ end -}}
{{ if .rule -}}
{{ .rule }}
{{ end -}}
