{{/*
###############################################################################
#ACTION		SOURCE			DEST		PROTO	DPORT	SPORT
*/ -}}
{{ if .Comment -}}
#
#	{{ .Comment }}
#
{{ end -}}
{{ if .Rule -}}
{{ .Rule }}
{{ end -}}
