{{/*
###############################################################################
#ACTION		SOURCE			DEST		PROTO	DPORT	SPORT
*/ -}}
{{ if .comment -}}
#
#	{{ .comment }}
#
{{ end -}}
{{ if .rule -}}
{{ .rule }}
{{ end -}}
