{{/*
###############################################################################
#ZONE		TYPE		OPTIONS		IN_OPTIONS	OUT_OPTIONS
*/ -}}
{{ if .Comment -}}
#
#	{{ .Comment }}
#
{{ end -}}
{{ .Name }}		{{ .Type }}
